<h1>Blockbuster Movies</h1>
<a href="/blockbusters">Blockbuster Store Index</a>
<a href="/movies">Movie Index</a>

<% @movies.each do |movie| %>
  <h3><a href="/movies/<%= movie.id %>"><%= movie.title %></a></h3>
  <p><%= movie.description %></p>
  <p><%= movie.genre %></p>
  <p><%= movie.release_year %></p>
  <p><%= movie.restricted %></p>
  <a href="/movies/<%= movie.id  %>/edit">Edit</a>
  <form action="/movies/<%= movie.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete"/>
  </form>
<% end %>